/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Color Theme Swatches in Hex */
$Dark-1-hex: #090A0C;
$Dark-2-hex: #21313F;
$Dark-3-hex: #4A728C;
$Dark-4-hex: #72A1BF;
$Dark-5-hex: #95C5D8;

/* Color Theme Swatches in RGBA */
$Dark-1-rgba: rgba(9,10,12, 1);
$Dark-2-rgba: rgba(33,49,63, 1);
$Dark-3-rgba: rgba(74,114,140, 1);
$Dark-4-rgba: rgba(114,161,191, 1);
$Dark-5-rgba: rgba(149,197,216, 1);

/* Color Theme Swatches in HSLA */
$Dark-1-hsla: hsla(219, 14, 4, 1);
$Dark-2-hsla: hsla(208, 31, 18, 1);
$Dark-3-hsla: hsla(203, 30, 41, 1);
$Dark-4-hsla: hsla(203, 37, 59, 1);
$Dark-5-hsla: hsla(197, 46, 71, 1);

$White: #FFFFFF;
div{
	border: none;
	padding: none;
}
body{
	width: 100%;
	min-height: 100%;
	background-color: $Dark-2-hex;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	color: $White;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	

	
}
h1, h2, h3, h4, h5, h6, p{
	text-align: center;
}
h1{
	font-size: 72pt;
}
h2{
	font-size: 36pt;

}
h3{
	font-size: 24pt;
}

a{
	text-decoration: none;
	//color: $Dark-3-hex;
	color: #FFFFFF !important;
}
a :hover{
	text-decoration: none;
	color: $Dark-4-hex !important;


}

.header{
	
	width: 100%;
	height: 75vh;
	color:$Dark-4-hex;
	display: flex;
	background-attachment: fixed;
	background-size:cover;
	background-position: center;

	
}


.header-me{
	background-image: url(https://s3-us-west-2.amazonaws.com/abvr-assets/img/MeAltered.png);
	background-position: top right;

}
.header-main{
	background-image: url(https://s3-us-west-2.amazonaws.com/abvr-assets/img/amogh-manjunath-775985-unsplash.jpg);
	background-position: bottom center;
}

.header-first{
	background-image: url(https://s3-us-west-2.amazonaws.com/abvr-assets/img/IMG_4672.JPG);
}
.header-website{
	background-image: url(https://s3-us-west-2.amazonaws.com/abvr-assets/img/brave_AQuvM85lt2.png);
}
.header-website-old100{
	background-image: url(https://abvr-assets.s3-us-west-2.amazonaws.com/img/brave_IEmOZoFt6K.png);
}
.header-frcadmin{
	background-image: url(https://s3-us-west-2.amazonaws.com/abvr-assets/img/brave_Dq6sbGYLm2.png);
}
.header-gallery-0{
	background-image: url(https://abvr-assets.s3-us-west-2.amazonaws.com/img/imggallery/42869334945_10343caa1e_o.png);
}
.header-gallery-1{
	background-image: url(https://abvr-assets.s3-us-west-2.amazonaws.com/img/imggallery/369A1192-033B-4DDD-A5F1-CA1443E3A916.png);
}
.header-gallery-2{
	background-image: url(https://abvr-assets.s3-us-west-2.amazonaws.com/img/imggallery/IMG_5850.jpg);
}
.header-gallery-3{
	background-image: url(https://abvr-assets.s3-us-west-2.amazonaws.com/img/imggallery/IMG_8299.JPG);
}
.darken{
	width:100%;
	height: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.5),$Dark-2-rgba);
    background-position:center bottom;
	display: flex;
}
.darken-inverse{
	width:100%;
	height: 100%;
	background: linear-gradient( $Dark-2-rgba,rgba(0, 0, 0, 0.5));
    background-position:center bottom;
	display: flex;
}
.header-content{
	align-self: flex-end;
	 
}
.header-content h1,.header-content h2, .header-content h3, .header-content h4,.header-content h5,.header-content h6,.header-content p{
	text-align: left;

}
#nav-button{
	position: fixed;
	left: 15px;
	top: 15px;
	
	z-index: 999;
}
#loader{
	width: 100%;
	height:100%;
	position: absolute;
	
}
.foot{
	font-size: 24pt;
	height: 100vh;
	
}
.anim-in{
	opacity: 0;
}
@media only screen and (max-height: 1000px) {
	h1{
	font-size: 48pt;
}
	
h2{
	font-size: 24pt;

}
h3{
	font-size: 18pt;
}
}